@use 'utils' as *;

.symbols {
  width: clamp(5.75rem, 4.5836rem + 4.9765vw, 9.0625rem);
}

.symbols:hover {
  transform: scale(110%);
  cursor: pointer;
  @include shineEffect();
  box-shadow: 0 0 0 1rem hsla(0, 0%, 100%, 3%);
}

.players-symbol img, .houses-symbol img {
  width: clamp(8.125rem, 4.5599rem + 15.2113vw, 18.25rem);;
}
.winner {
  border-radius: 50%;
  transform: scale(110%);
  cursor: pointer;
  @include shineEffect();
  box-shadow: 0 0 0 1.5rem hsla(0, 0%, 100%, 3%),
  0 0 0 3rem hsla(0, 0%, 100%, 3%);
  -webkit-animation: rotate 2s ease-in-out 0.5s 1 forwards;
  animation: rotate .6s linear 0s 1 forwards;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);

  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
    width: 110%;
    height: 110%;
  }
}

