@mixin flex($direction: row, $justify: space-between, $align: center, $gap: 2rem) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin shineEffect() {
  outline: .7rem solid rgba(151, 151, 151, 0.15);
  outline-offset: -0.4375rem;

}