/* ----- COLORS -----  */

$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$headeroutline: hsl(217, 16%, 45%);
$background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
$light-clr: hsl(0, 0%, 98%);


/* ----- LAYOUT VARIABLES ----- */

$general-padding-gap: 2rem;

/* ----- TYPOGRAPHY ----- */
@font-face {
  font-family: barlow;
  src: url("../../assets/fonts/BarlowSemiCondensed-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: barlow;
  src: url("../../assets/fonts/BarlowSemiCondensed-Bold.ttf");
  font-weight: 700;
}

/* ----- COMPONENTS ----- */

$general-symbol-proportions: clamp(9.6875rem, 6.6725rem + 12.8638vw, 18.25rem);
$result-shadow: 0 3px 3px rgba(0, 0, 0, 0.20);

